# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# 部署配置文件
config/deploy.env
deployment.env
github/
cursor/
/.github/
